# --- Godot Core ---
.godot/
*.import
export_preset.cfg
/android/

# --- Visual Studio & Build Junk ---
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userprefs
*.suo
*.suo.backup
*.suo.old

# --- Others ---
.DS_Store